.blockTeams{
	background: #e95555;
    display: flex;
    padding: 30px;
    gap: 20px;
}
  
/* Style for each user div */
#blockTeams > div {
flex: 1;
text-align: center;
padding: 20px;
border: 1px solid #ccc;
display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Center the content inside each user div */
#blockTeams img,
#blockTeams h3,
#blockTeams p {
margin: 0 auto;
}