.blockContent{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.blockContent *{
    margin: 0px;
}

.blockContent h1{
    color: #444444;
    font-weight: 900;
}

.blockContent p{
    color: #8f97a4;
}